

<!-- Content -->
    <section class="container padding-top-3x padding-bottom-2x">
      <h1>User Account</h1>
      <div class="row padding-top">
        <div class="col-md-12 padding-bottom">
          <h3>Login</h3>
          <form method="post" class="login-form">
            <input type="text" class="form-control" placeholder="Username" required>
            <input type="password" class="form-control" placeholder="Password" required>
            <div class="form-footer">
              <div class="rememberme">
                <label class="checkbox">
                  <input type="checkbox" checked> Remember me
                </label>
              </div>
              <div class="form-submit">
                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Login</button>
              </div>
            </div>
          </form><!-- .login-form -->
        </div><!-- .col-md-4 -->
         <!-- registration -->
      </div><!-- .row -->
    </section><!-- .container -->
