 <div class="container">
<div class="col s12 m8 ">
  <div class="card-panel grey lighten-5 ">
    <div class="row valign-wrapper">
      <div class="col s3 m2 l2">
       <%= image_tag "ab.png", class: "circle responsive-img"%>
      </div>
      <div class="col s9 m10 l10">
        <span class="black-text">
          <h4>Thanks for your purchase.</h4>
        </span>
      </div>
    </div>
  </div>
</div>
</div>



 <div class="container">
<div class="col s12 m8 ">


 <section id="content-receipt" class="clearfix">
      <div id="receipt-container">
        <div class="dotmatrix left"></div>
        <div id="receipt-content">
          <h4 id="receipt-title">Thank You! Your Receipt</h4>
          <p><strong>Download Now</strong></p>
          <div id="receipt-details" class="row clearfix">
            <div class="col-md-4 receipt-left">
              <p><strong class="font-weight-heavy"><%= @product.title %></strong></p>
            </div>
            <div class="col-sm-4">
            $<%= @product.price %>

            </div>
          </div>

        <%= link_to'Download', @product.download_url, class: "btn btn-success btn-xs"%>
<!-- 
          <button type="button" class="btn btn-success btn-xs">DOWNLOAD</button> -->
          <footer id="receipt-footer">
            <small>Your purchase is complete. We hope you enjoy it!</small>
          </footer>
        </div>
        <div class="dotmatrix right"></div>
      </div>
      <div id="receipt-shadow"></div>
    </section>
    </div>
    </div>