<div class="navbar-fixed">
    <nav class="red darken-1">
      <div class="container">
        <a href="#" class="brand-logo">
          Red Emojis
          <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#about-section">About</a></li>
          <li><a href="#portfolio-section"></a></li>
          <li><a href="#contact-section"></a></li>
        </ul>
      </div>
    </nav>
  </div>